/*----- Styles Généraux -----*/

:root {
    --beige: #d1a158;
    --beige-fonce: #a86a18;
    --blanc: white;
    --noir: black;

    --walter: "Walter";
}

@font-face {
    font-family: "Walter";
    src: url(../assets/polices/WalterTurncoat-Regular.ttf)
}

html {
    font-family: var(--walter);
}

body {
    margin: 0px;
}

/*-------------------*/
/*----- En-tête -----*/
/*-------------------*/

.logonomsite {
    display: flex;
    align-items: center;
}

.logo {
    width: 103px;
    height: 56px;
}

.nomsite {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

ul {
    display: none;
    list-style-type: none;
    gap: 40px;
}

a {
    text-decoration: none;
    color: var(--noir);
}

/*--------------------------*/
/*----- Bande de titre -----*/
/*--------------------------*/

.bandetitre {
    background-image: url(/assets/images/arriereplan_bande.png);
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.titrepage {
    color: white;
    font-size: 40px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.40);
}

/*------------------------------*/
/*----- Contenu de la page -----*/
/*------------------------------*/



/*------------------------*/
/*----- Pied de page -----*/
/*------------------------*/