/*---------------------------*/
/*----- Styles Généraux -----*/
/*---------------------------*/

/* Palette de couleurs du site */
:root {
    --beige: #d1a158;
    --beige-fonce: #a86a18;
    --blanc: white;
    --noir: black;

    --walter: "Walter";
}

/* Police du site */
@font-face {
    font-family: "Walter";
    src: url(../assets/polices/WalterTurncoat-Regular.ttf)
}

/* Appliquer la police */
html {
    font-family: var(--walter);
}

/* Organiser le contenu du site au complet */
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/*-------------------*/
/*----- En-tête -----*/
/*-------------------*/

/* En-tête où le logo et le nom du site est à gauche et les hyperliens et la barre de recherche sont à droite en mobile */
.logonomsite {
    display: flex;
    align-items: center;
}

.logo {
    width: 103px;
    height: 56px;
}

.nomsite {
    display: none;
    margin: 0px 20px 0px 20px;
    font-size: 28px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

ul {
    display: none;
    list-style-type: none;
    gap: 40px;
    padding: 0px;
}

li {
    align-self: center;
}

/* Transition lorsqu'on hover sur les hyperliens */
a:hover {
    color: var(--beige-fonce);
}

a {
    text-decoration: none;
    color: var(--noir);
    transition: color 0.3s;
}

.barrerecherche {
    font-family: var(--walter);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    width: 200px;
    background-image: url(/assets/images/rechercher.png);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box
}

/*--------------------------*/
/*----- Bande de titre -----*/
/*--------------------------*/

/* Bande de titre avec le nom de l'onglet et l'arrière-plan d'ancien papier, tout le long du width de la page */
.bandetitre {
    background-image: url(/assets/images/arriereplan_bande.png);
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.titrepage {
    color: white;
    font-size: 40px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.40);
}

/*------------------------------*/
/*----- Contenu de la page -----*/
/*------------------------------*/

/* Bloc de chaque moyen de contact, avec le texte en dessous de chacun */
.contenu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenu div div {
    background-image: linear-gradient(to bottom right, var(--beige), var(--beige-fonce));
    color: var(--blanc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    padding: 50px;
}

.contenu div h3 {
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.contenu div p {
    font-size: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

/*------------------------*/
/*----- Pied de page -----*/
/*------------------------*/

/* Pied de page avec le logo et le copyright, avec de l'ancien papier en arrière-plan */
footer {
    background-image: url(/assets/images/arriereplan_bande.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.40);
    padding: 25px;
}

.copyright {
    display: flex;
    gap: 5px;
    color: white;
    font-size: 24px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.40);
}

.logofooter {
    width: 103px;
    height: 56px;
}

/*---------------------------------*/
/*----- Conditions ordinateur -----*/
/*---------------------------------*/

/* Si un ordinateur est utilisé, le overflow est caché, les éléments cachés en mobile (hyperliens) sont montrés et les éléments du contenu de la page sont placés horizontalement */
@media screen and (min-width: 1325px) {
    body {
        overflow: hidden;
    }

    .nomsite {
        display: block;
    }
    
    ul {
        display: flex;
    }

    .contenu {
        flex-direction: row;
        justify-content: space-around;
    }

    .contenu div div {
        padding-left: 115px;
        padding-right: 115px;
    }

    footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}